p {
  font-size: 55px;
  margin: 30px auto;
  display: block;
}

div {
  margin-top: 20px;
  display: block;
  font-size: 20px;
  width: 550px;
}

a {
  display: inline-block;
  width: 250px;
  height: 35px;
  background-color: black;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: azure;
  padding-top: 15px;
  margin-top: 20px;
  transition: all 0.2s;
}
a + a {
  margin-left: 40px;
}
.container {
  width: 600px;
  margin: 0 auto;
}

a:hover {
  background-color: midnightblue;
}