*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit
}
li {
  padding-left: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

$black: #131313;
$white: #FFFFFF;
$grey: #6F6F6F;
$red: #FF4040;

body {
  scroll-behavior: smooth;
  margin: 0;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    padding-top: 3px;
  }
  .menu {
    margin-right: 70px;
    &__list {
      display: flex;
      justify-content: center;
    }
    &__item + .menu__item{
      padding-left: 10px;
    }
    &__link {
      text-transform: uppercase;
      padding: 43px 20px;
      font-family: 'Inter';
      font-size: 14px;
      color: $black;
      transition: all .3s;
    }
    &__link:hover {
      background-color: $black;
      color: $white;
    }
  }
}

.bike {
  padding: 100px 0 50px;
  .bike__inner {
    display: flex;
    justify-content: space-between;
    .bike__column {
      .bike__title {
        margin: 60px 0 5px;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 64px;
        line-height: 77px;
        color: #131313;
      }
      .bile__subtitle {
        font-family: 'Inter';
        font-weight: 400;
        margin: 5px 0 60px;
        font-size: 32px;
        line-height: 39px;
        color: $grey;
      }
      .bike__text {
        font-family: 'Inter';
        font-size: 14px;
        line-height: 120%;
        color: $black;
        max-width: 420px;
        margin-bottom: 20px;
      }
      .bike__link {
        font-family: 'Inter';
        margin-top: 80px;
        display: block;
        padding: 28px 81px;
        font-size: 20px;
        letter-spacing: 1.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 420px;
        height: 80px;
        background: $black;
        transition: all 0.4s;
        &:hover {
          background-color: $red;
        }
      }
    }
  }
  .bike__column-slider {
    flex-basis: 630px;
    margin-left: 30px;
    max-width: 630px;
    .bike__slider {
      .slick-dots {
        position: absolute;
        top: 52px;
        right: 0;
        li + li{
          padding-top: 10px;
        }
        button {
          font-size: 0;
          padding: 0;
          border: none;
          width: 2px;
          height: 25px;
          background-color:$black;
          border-radius: 7px;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            background-color: $red;
          }
        }
        .slick-active button{
          background-color: $red;
        }
      }
    }
    .bike__list {
      display: flex;
      margin-top: 25px;
      justify-content: space-around;
      &-item {
        min-width: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        min-height: 58px;
        .bike__list-num {
          font-family: 'Inter';
          font-weight: 700;
          font-size: 14px;
          text-transform: uppercase;
          color: $black;
        }
        .bike__list-text {
          font-family: 'Inter';
          font-size: 12px;
          line-height: 15px;
          text-transform: lowercase;
          color: $black;
          margin: auto 0;
        }
      }
    }
  }
}
.info {
  padding-top: 100px;
  .info__inner {
    display: flex;
    .info__img {
      margin-right: 60px;
      flex-basis: 570px;
    }
    .info__list {
      flex-basis: 492px;
      .info__item {
        .info__item-title {
          font-family: 'Inter';
          margin: 0;
          font-weight: 700;
          font-size: 16px;
          text-transform: uppercase;
          color: $black;
        }
        .info__item-text {
          margin-top: 10px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 120%;
          color: $black;
          max-width: 450px;
        }
        &+ .info__item {
          padding-top: 50px;
        }
      }
    }
  }
}

.characteristics {
  margin: 150px auto;
  .container {
    display: flex;
  }
  .characteristics__column {
    min-width: 570px;
    min-height: 730px;
    margin-right: 60px;
    .characteristics__title {
      font-family: 'Inter';
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
      color: $black;
    }
    .characteristics__inner {
      .characteristics__subtitle {
        margin: 30px 0 10px;
        padding-top: 3px;
        width: 570px;
        height: 22px;
        background: $black;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: $white;
      }
      .characteristics__list {
        display: flex;
        margin-top: 5px;
        .characteristics__name {
          flex-basis: 285px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 120%;
          color: $black;
        }
        .characteristics__descr {
          flex-basis: 285px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 120%;
          color: $black;
        }
      }
    }
  }
  .characteristics__img {
    align-self: center;
  }
}
.bike-slider {
  margin-top: 150px;
  .container {
    .second-bike-slider {
      margin-left: 50px;
      max-height: 632px;
      .slick-dots {
        position: absolute;
        top: -10px;
        left: -50px;
        li {
          padding-top: 10px;
          button {
            display: block;
            padding: 0;
            font-size: 0;
            border: 0;
            width: 2px;
            height: 25px;
            background: $black;
            border-radius: 7px;
            transition: all 0.3s;
            &:hover {
              background-color: $red;
              cursor: pointer;
            }
          }
        }
        .slick-active {
          button {
            background-color: $red;
          }
        }
      }
    }
  }
}


.price {
  margin-top: 50px;
  .container {
    .price__inner {
      position: relative;
      .form {
        .form__order-column {
          .form__title {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            color: $black;
          }
          .form__text {
            width: 298px;
            margin-top: 41px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: $black;
          }
          .form__input-name {
            margin-top: 29px;
            outline: 0;
            border: none;
            border-bottom: 1px solid $black;
            width: 420px;
            display: block;
            &::placeholder {
              opacity: 0.5;
              color: $grey;
            }
          }
          .form__input-phone {
            margin-top: 20px;
            outline: 0;
            border: none;
            border-bottom: 1px solid $black;
            width: 420px;
            display: block;
            &::placeholder {
              opacity: 0.5;
              color: $grey;
            }
          }
          .form__text-color {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: $grey;
            opacity: 0.5;
          }
        }
        .form__label-box {
          display: flex;
          .form__label {            
            & + .form__label {
              margin-left: 23px;
            }
            .form__input-radio {
              position: absolute;
              width: 1px;
              height: 1px;
              overflow: hidden;
              clip: rect(0 0 0 0);
              &:checked + .form__bike {
                display: block;
              }
            }
            .form__bike {
              display: none;
              position: absolute;
              top: 0;
              right: 0;
              .form__bike-price {
                width: 180px;
                height: 112px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 39px;
                position: absolute;
                display: flex;
                color: $black;
                justify-content: center;
                align-items: center;
                top: -5px;
                left: -60px;
                border: 1px solid $red;
                border-radius: 50%;
                &::after {
                  content: '';
                  border: 1px solid $red;
                  width: 180px;
                  height: 112px;
                  position: absolute;
                  border-radius: 50%;
                  top: 10px;
                }
              }
            }
            .form__radio-style {
              cursor: pointer;
            }
            .form__radio-style--grey {
              width: 80px;
              height: 12px;
              border-radius: 30px;
              background: $grey;
            }
            .form__radio-style--white {
              width: 80px;
              height: 12px;
              border-radius: 30px;
              background: $white;
              border: 1px solid $grey;
            }
            .form__radio-style--red {
              width: 80px;
              height: 12px;
              border-radius: 30px;
              background: $red;
            }
          }
        }
        .form__button {
          font-family: 'Inter';
          padding: 28px 81px;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 1.1em;
          text-transform: uppercase;
          color: $white;
          border: 1px solid $black;
          background: $black;
          width: 420px;
          height: 80px;
          cursor: pointer;
          transition: all 0.4s;
          margin-top: 50px;
          &:hover {
            background-color: $red;
          }
        }
      }
    }
  }
}

.footer {
  height: 100px;
  margin-top: 100px;
  padding-top: 21px;
  background: $black;
  .container {
    .footer__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .footer__link {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        text-transform: lowercase;
        color: $white;
        text-decoration: underline;
      }
      .footer__social {
        .footer__social-link {
          & + .footer__social-link {
            margin-left: 28px;
            span {
              font-family: 'Inter';
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 15px;
              text-transform: lowercase;
              color: $white;
            }
          }
        }
      }
      .footer__contacts {
        .footer__contacts-phone {
          display: flex;
          span {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            text-transform: lowercase;
            color: $white;
            align-self: center;
            margin-left: 10px;
          }
        }
        .footer__contacts-mail {
          display: flex;
          margin-top: 10px;
          span {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            text-transform: lowercase;
            color: $white;
            align-self: center;
            margin-left: 10px;
          }
        }
      }
    }
  }
}


.header__inner {
  @media (max-width: 670px) {
    flex-direction: column;
  }
  .menu {
    @media (max-width: 900px) {
      margin-right: 0;
    }
    @media (max-width: 670px) {
      margin-top: 50px;
    }
    @media (max-width: 465px) {
      
    }
    &__item + .menu__item{
      @media (max-width: 465px) {
        padding-left: 5px;
      }
    }
    &__link {
      @media (max-width: 465px) {
        padding: 33px 10px;
        font-size: 13px;
      }
      @media (max-width: 420px) {
        font-size: 10px;
      }
    }
  }
}

.bike {
  @media (max-width:1120px) {
    padding-top: 50px;
  }
  .bike__inner {
    @media (max-width: 1220px) {
      flex-direction: column-reverse;
    }
    .bike__column {
      @media (max-width: 1220px) {
        display: block;
        margin: 0 auto;
      }
      .bike__title {
        @media (max-width: 780px) {
          margin-top: 0px;
        }
        @media (max-width: 605px) {
          font-size: 50px;
        }
        @media (max-width: 420px) {
          margin-left: 0;
        }
      }
      .bile__subtitle {
        @media (max-width: 1220px) {
          margin-bottom: 30px;
        }
        @media (max-width: 605px) {
          font-size: 24px;
          margin-top: 0;
          margin-bottom: 30px;
        }
        @media (max-width: 420px) {
          margin-left: 0;
        }
      }
      .bike__text {
        @media (max-width: 1220px) {
          max-width:90%;
          margin-top: 20px;
          margin-left: 10px;
        }
        @media (max-width: 420px) {
          margin-left: 0;
          max-width: 100%;
        }
      }
      .bike__link {
        @media (max-width: 1220px) {
          margin: 40px 0;
        }
        @media (max-width: 780px) {
          width: 360px;
          height: 70px;
          padding: 26px 64px;
          font-size: 18px;
        }
        @media (max-width: 420px) {
          letter-spacing: 0.8em;
          width: 280px;
          display: flex;
          align-items: center;
          // justify-content: center;
          margin-left: 0;
          padding: 26px 44px;
        }
      }
    }
  }
  .bike__column-slider {
    @media (max-width: 1220px) {
      max-width: 80%;
    }
    @media (max-width: 670px) {
      max-height: 550px;
    }
    @media (max-width: 420px) {
      max-height: 500px;
    }
    .bike__slider {
      .slick-dots {
        @media (max-width: 550px) {
          top: 32px;
        }
        @media (max-width: 400px) {
          top: 20px;
        }
      }
    }
    .bike__list {
      @media (max-width: 550px) {
        flex-wrap: wrap;
        justify-content: space-between;
      }
      @media (max-width: 420px) {
        flex-direction: column;
        align-items: center;
      }
      &-item {
        @media (max-width: 670px) {
          min-width: 130px;
        }
        @media (max-width: 550px) {
          max-width: 160px;
        }
        @media (max-width: 420px) {
        }
      }
    }
  }
}

.info {
  @media (max-width:1120px) {
    padding-top: 0;
  }
  .info__inner {
    .info__img {
      @media (max-width:1120px) {
        display: none;
      }
    }
    .info__list {
      @media (max-width:1120px) {
        flex-basis: 90%;
      }
      @media (max-width:420px) {
        margin-left: 0;
        flex-basis: 100%;
      }
      .info__item {
        & + .info__item {
          @media (max-width:670px) {
            padding-top: 30px;
          }
        }
        .info__item-text {
          @media (max-width:1120px) {
            max-width: 100%;
          }
        }
      }
    }
  }
}

.characteristics {
  @media (max-width: 1240px) {
    margin-top: 40px;
  }
  .container {
    @media (max-width: 1240px) {
      flex-wrap: wrap-reverse;
      align-items: center;
    }
  }
  .characteristics__column {
    @media (max-width: 1240px) {
      min-width: 0;
    }
    @media (max-width: 1240px) {
      width: 100%;
      margin-right: 0;
    }
    @media (max-width: 420px) {
      width: 100%;
      margin-left: 0;
    }
    .characteristics__inner {
      .characteristics__subtitle {
        @media (max-width: 1240px) {
          width: 100%;
        }
      }
      .characteristics__list {
        .characteristics__name {
          @media (max-width: 1240px) {
            flex-basis: 50%;
          }
        }
        .characteristics__descr {
          @media (max-width: 1240px) {
            flex-basis: 50%;
          }
        }
      }
    }
  }
  .characteristics__img {
    @media (max-width: 1240px) {
      width: 100%;
    }
    img {
      @media (max-width: 1240px) {
        width: 90%;
      }
      @media (max-width: 420px) {
        width: 95%;
        margin-left: 0;
      }
    }
  }
}

.bike-slider {
  .container {
    .second-bike-slider {
      @media (max-width: 1240px) {
        width: 94%;
        margin-left: 55px;
      }
      @media (max-width: 930px) {
        margin-left: 50px;
      }
      @media (max-width: 750px) {
        width: 93%;
        margin-left: 45px;
      }
      @media (max-width: 550px) {
        width: 92%;
        margin-left: 35px;
      }
      @media (max-width: 450px) {
        width: 90%;
        margin-left: 30px;
      }
      img {
        @media (max-width: 1240px) {
          width: 1130px;
        }
        @media (max-width: 1050px) {
          width: 940px;
        }
        @media (max-width: 930px) {
          width: 850px;
        }
        @media (max-width: 850px) {
          width: 750px;
        }
        @media (max-width: 750px) {
          width: 660px;
        }
        @media (max-width: 650px) {
          width: 570px;
        }
        @media (max-width: 550px) {
          width: 470px;
        }
        @media (max-width: 450px) {
          width: 360px;
        }
        @media (max-width: 350px) {
          width: 280px;
        }
      }
      .slick-dots {
        @media (max-width: 850px) {
          left: -25px;
        }
      }
    }
  }
}

.price {
  .container {
    .price__inner {
      .form {
        .form__order-column {
          .form__text {
            @media (max-width: 1050px) {
              width: 100%;
            }
          }
          .form__input-name {
            @media (max-width: 550px) {
              width: 330px;
            }
            @media (max-width: 380px) {
              width: 280px;
            }
          }
          .form__input-phone {
            @media (max-width: 550px) {
              width: 330px;
            }
            @media (max-width: 380px) {
              width: 280px;
            }
          }
        }
        .form__label-box {
          .form__label {            
            .form__bike {
              img {
                @media (max-width: 1150px) {
                  width: 500px;
                }
                @media (max-width: 700px) {
                  width: 440px;
                }
                @media (max-width: 550px) {
                  width: 400px;
                }
                @media (max-width: 480px) {
                  width: 300px;
                }
                @media (max-width: 380px) {
                  width: 250px;
                }
              }
              @media (max-width: 1150px) {
                top: 50px;
              }
              @media (max-width: 1050px) {
                top: 280px;
                left: 60px;
              }
              @media (max-width: 550px) {
                left: 20px;
              }
              @media (max-width: 380px) {
                top: 300px;
                left: 30px;
              }
              .form__bike-price {
                @media (max-width: 1150px) {
                  top: -30px;
                }
                @media (max-width: 700px) {
                  top: -20px;
                  left: -40px;
                  font-size: 26px;
                  width: 143px;
                  height: 80px;
                }
                @media (max-width: 550px) {
                  width: 123px;
                  height: 60px;
                  font-size: 20px;
                  left: -25px;
                }
                @media (max-width: 380px) {
                  width: 103px;
                  height: 40px;
                  font-size: 18px;
                  left: -35px;
                }
                &::after {
                  @media (max-width: 700px) {
                    width: 143px;
                    height: 80px;
                  }
                  @media (max-width: 550px) {
                    width: 123px;
                    height: 60px;
                  }
                  @media (max-width: 380px) {
                    width: 103px;
                    height: 40px;
                    top: 5px;
                  }
                }
              }
            }
          }
        }
        .form__button {
          @media (max-width: 1050px) {
            margin-top: 370px;
          }
          @media (max-width: 780px) {
            width: 360px;
            height: 70px;
            padding: 26px 64px;
            font-size: 18px;
          }
          @media (max-width: 550px) {
            margin-top: 320px;
          }
          @media (max-width: 480px) {
            margin-top: 250px;
          }
          @media (max-width: 420px) {
            letter-spacing: .8em;
            width: 280px;
            padding: 26px 44px;
          }
        }
      }
    }
  }
}

.footer {
  height: 100px;
  margin-top: 100px;
  padding-top: 21px;
  background: $black;
  @media (max-width: 550px) {
    padding-top: 8px;
    height: 140px;
  }
  .container {
    .footer__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 550px) {
        flex-direction: column;
      }
      .footer__link {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        text-transform: lowercase;
        color: $white;
        text-decoration: underline;
      }
      .footer__social {
        @media (max-width: 550px) {
          margin-top: 10px;
        }
        .footer__social-link {
          & + .footer__social-link {
            margin-left: 28px;
            span {
              font-family: 'Inter';
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 15px;
              text-transform: lowercase;
              color: $white;
            }
          }
        }
      }
      .footer__contacts {
        .footer__contacts-phone {
          display: flex;
          span {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            text-transform: lowercase;
            color: $white;
            align-self: center;
            margin-left: 10px;
          }
        }
        .footer__contacts-mail {
          display: flex;
          margin-top: 10px;
          span {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            text-transform: lowercase;
            color: $white;
            align-self: center;
            margin-left: 10px;
          }
        }
      }
    }
  }
}